# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# IDE and compiler output directories
out/
bin/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db